# Server
PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000

# MongoDB (Atlas connection string or local)
# Local example: mongodb://127.0.0.1:27017/digichamber
# Atlas example: mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/digichamber
MONGO_URI=mongodb+srv://ashuagrawalksj_db_user:EHWzKpg125rYoxmY@cluster0.qtvqk30.mongodb.net/digichamber
# JWT
JWT_SECRET=fsdjlvjoowueg808r0geri0u0er
JWT_EXPIRES_IN=7d

# File uploads (local disk storage folder)
UPLOAD_DIR=/uploads
